@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: gray; }
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: .5s all ease; }
.first-letter::first-letter { text-transform: capitalize; }

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 71.42%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
h1 { 
  width: calc(14% - 4px);
  padding: 27px 0 27px 19px; 
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner styles starts */
.banner { position: relative; }

.banner-content {
  width: 100%;
  position: absolute;
  top: 385px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 110px;
  font-weight: bold;
}

h2::after {
  content: "";
  width: calc(100% - 62.5%);
  height: 2px;
  margin: 5px auto 28px;
  display: block;
  background-color: #15a4fa;
}

.lead{
  display: block;
  color: #fff;
  font-size: 17px;
}


.action {
  padding: 15px 28px;
  border: 1px solid #15a4fa;
  border-radius: 4px;
  margin: 50px 0 148px;
  display: inline-block;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

.action:hover {
  border: 1px solid #fff;
  color: #15a4fa;
}

.drop-down {
  width: calc(1.5% - 5px);
  margin: 0 auto;
  display: block;
  color: #fff;
  text-indent: -9999px;
}

.drop-down img {
  float: right;
  text-indent: 0;
}

.drop-down img:hover { transform: translateY(2px); }
/* banner styles ends */
/* design styles starts */
.design { 
  padding: 60px 0 90px;
  background-color: #F6F9F9;
}

h3 {
  padding-bottom: 18px;
  color:#2d3950;
  font-size: 35px;
  letter-spacing: 1px;
}

.design p{
  color: #a4a5a5;
  font-size: 17px;
  line-height: 26px;
}
/* design styles ends */
/* features styles starts */
.features { padding: 55px 0 50px; }

.features li {
  width: calc(28% - 4px);
  text-align: center;
  vertical-align: top;
  margin-right: calc(6% - 4px);
}

.features li:last-child { margin-right: 0; }

.device, .plane, .speaker {
  text-indent: -9999px;
  display: inline-block;
}

.device::before,
.plane::before,
.speaker::before{
  content: "\f10b";
  font-family: fontAwesome;
  font-size: 60px;
  color: #fff;
  padding: 13px 29px;
  background: linear-gradient(to right, #48BAFF 50%, #5FC3FF 50%);
  text-indent: 0;
  float: right;
  transition: 0.5s all ease;
}
.device:hover::before,
.plane:hover::before,
.speaker:hover::before { 
  color: #3a455a;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
}

.plane::before,  
.speaker:before {
  content: "\f1d9";
  font-size: 40px;
  padding: 22px;
}

.speaker::before { content: "\f0a1"; }
.features ul { text-align: center; }

h4 {
  font-size: 20px;
  color: #3a455a;
  padding: 22px 0 16px;
}

.features li span {
  display: inline-block;
  color: #a6a6a6;
  font-size: 13px;
  line-height: 20px;
}
/* features styles ends */
/* showcase styles starts */
.showcase { 
  padding: 62px 0 70px;
  background-color: #F6F9F9;
}

.showcase h3{ 
  padding-bottom: 14px;
  text-align: center; 
}

.showcase span {
  padding-bottom: 68px;
  display: block;
  color: #949494;
  font-size: 14px;
  text-align: center;
}

.gallery li { 
  width: calc(31.7% - 4px);
  margin-right: calc(3% - 4px);
  margin-left: -4px;
  margin-bottom: 26px;
  position: relative;
  transition: .5s ease all;
}

.gallery li:nth-child(3),
.gallery li:nth-child(6) { margin-right: 0; }

.overlay {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .5s ease all;
  transform: translate(-50%, -50%); 
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); 
  cursor: pointer;
  opacity: 0;
}

.gallery li:hover figure { opacity: 0.3; }
.gallery li:hover .overlay {  opacity: 1; }
/* showcase styles ends */
.stay { 
  padding: 40px 0 82px;
  background-image: url('../images/road.png')
}

.stay h3 { color: #fff; }

.stay span {
  padding-bottom: 42px;
  display: block;
  color: #949494;
  font-size: 14px;
  text-align: center;
}

form {
  width: 47%;
  margin: 0 auto;
  text-align: center;
}

form input,
textarea{
  width: 100%;
  padding: 18px 0;
  padding-left: 15px;
  border: 1px solid #6b6f77;
  border-radius: 4px;
  margin: 9px 0;
  background: transparent;
  outline: none;
  resize: none;
}

textarea { margin: 2px 0}

form input::placeholder,
textarea::placeholder { text-transform: capitalize; }

input[type="button"] {
  width: 26%;
  padding: 9px 17px;
  border: 1px solid #15a4fa;
  margin-right: -16px;
  margin-left: 18px;
  float: right;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  transition: .5s ease;
}

input[type="button"]:hover {
  border: 1px solid #fff;
  color: #15a4fa;
}

input[type="checkbox"] {
  width: 15%;
  color: #99A0A9;  
}

.subscribe {
  width: 33%;
  margin-top: 12px;
  float: left;
  color: #fff;
  font-size: 13px;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { background-color: #F6F9F9; }

footer span {
  padding: 15px 0 ;
  display: inline-block;
  color: #9e9f9f;
  font-size: 12px;
}

.social {
  padding: 16px 0;
  float: right;
}

.social li {  transition: .5s all ease; }
.social li:hover {  transform: translateY(-5px); }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

}  